.task-input {
  background: #fafafa;
  margin-bottom: 8px;
  padding: 8px;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  border: none;
  font-size: 16px;
}

.buttons-surround {
  display: flex;
}
